*{
    text-decoration: none;
    margin: 0;
    padding: 0px;
}

body {
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo{
    margin-top: 50px;
    font-size: 20px;
}
.logo img {
    float: left;
    margin-top: 20px;
}
.namalogo {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: black;
}
.menu {
    /* margin-top: 20px; */
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: black;
    z-index: 1;
    border: 1px solid #364f6b;
}
nav ul {
    padding: 0 0px;
    list-style: none;
    position: relative;
    width: 100%;
    font-family: ‘helvetica’, arial;
}
nav ul:after {
    content: "";
    clear: both;
    display: block;
}
nav ul li {
    float: left;
}
nav ul li:hover {
    text-decoration: underline;
}
nav ul li a {
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: none;
    color: #fff;
}
nav ul ul {
    display: none;
    background-color: #1C658C;
    padding: 0;
    position: absolute;
    top: 100%;
    max-width: 300px;
    width: auto;
}
nav ul ul li {
    float: none;
    border-bottom: 1px solid rgba(223, 223, 233, 0.973);
    position: relative;
}
nav ul li:hover > ul {
    display: block;
}
nav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
    width: 200px;
}
#carouselExampleIndicators {
    margin-top: 10px;
}
.carousel img {
    margin-top: 10px;
}
