/*--------------------------------------------------------------
# Struktur Organisasi
--------------------------------------------------------------*/
.map-jakarta img {
  border: 5px solid black;
}

/*--------------------------------------------------------------
# Visi Misi
--------------------------------------------------------------*/
a:hover {
  color: #e24d55;
  text-decoration: none;
}

.struktur p {
  font-size: 20 px;
  font-weight: 450;
}
#struktur .struktur p i {
  font-weight: bold;
  font-size: 100px;
}
.struktur ol {
  font-weight: 450;
  padding: 0;

  margin-left: 20px;
}
.struktur ol li {
  text-align: justify;
  margin-bottom: 5px;
  padding-left: 20px;
  font-size: 20px;
}
